<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="background-color: #6E85B7">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #ffff">Crawler Engine</a>

    <form class="d-flex" method="POST" action="/crawl">
      <input class="form-control me-2" placeholder="Type your link" name="crawlerLink">
      <button class="btn btn-outline-success" method="POST" action="/crawl" type="submit">Crawl</button>
    </form>
  </div>
</nav>