<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('template/head') %>
</head>

<body>
    <%- include('template/header') %>
        <main>

        </main>

        <%- include('template/footer') %>
</body>

</html>